
<div class="alert alert-danger" [hidden]="!error">
  {{error}}
</div>
<form class="container" (ngSubmit)="getStudents()">
  <div class="row">
    <dschool-name-select [users]="teachers" [title]="'Class Master'" (change)="onTeacherChange($event.target.value)">
    </dschool-name-select>
  </div>
  <div class="row" *ngIf="!!selectedTeacher">
    <div class="form-group col-sm-6">
      <label for="shoolYear">Year</label>
      <select class="form-control" id="shoolYear" required [(ngModel)]="classData.shoolYear" name="shoolYear">
            <option *ngFor="let year of possibleSchoolYears" [value]="year.value">{{year.name}}</option>
        </select>
    </div>
    <div class="form-group col-sm-6">
      <label for="class_number">Class</label>
      <select class="form-control" id="class_number" required [(ngModel)]="classData.classNumber" name="class_number">
            <option *ngFor="let number of possibleClasses" [value]="number.value">{{number.name}}</option>
        </select>
    </div>
  </div>
  <div class="row" *ngIf="!!selectedTeacher">
    <div class="form-group">
      <button class="btn btn-success pull-right" (click)="getStudents()">Get Students</button>
    </div>
  </div>
  <dschool-list-class *ngIf="!!selectedTeacher" class="row" [students]="students" [type]="'short'"></dschool-list-class>
  <div class="form-group row" *ngIf="!!students && !!students.length">
    <button class="btn btn-success pull-right" (click)="generate()">Generate</button>
  </div>
</form>