<ul class="navbar navbar-nav navbar-right" *ngIf="!(user | async)?.uid">
  <li><a (click)="goto('login')"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
  <li><a (click)="goto('register')" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span>Register</a></li>
</ul>
<ul class="navbar navbar-nav navbar-right" *ngIf="(user | async)?.uid">
  <p class="navbar-text">Hi {{username}}</p>
  <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
</ul>