.btn.pull-right {
    margin-right: 15px;
}

.table {
    margin: 10px 5px 5px 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.table-row {
    margin: 0px 15px;
}
.table-row > em {
    margin: 2px 5px;
}

.underlined {
    border-bottom: 1px solid #ccc;
    margin: 0px 5px;
}