<div class="row">
  <dschool-name-select [title]="title" [users]="choices" (change)="onSelectChange($event.target.value)"></dschool-name-select>
</div>
<div class="row">
  <a class="btn btn-success pull-right" (click)="addSelection()">Add</a>
</div>
<div class="form-group table">
  <div class="row table-row underlined">
  <label for="table">Selected</label>
  </div>
  <div class="row" name="table" *ngIf="selection.length === 0">
    <div class="table-row row">
      <em>Nothing to show...</em>
    </div>
  </div>
  <div class="row" name="table">
    <dschool-multy-select-line *ngFor="let choice of selection" [choice]="choice" (onRemove)="remove($event)"></dschool-multy-select-line>
  </div>
</div>