<ul class="navbar navbar-nav navbar-right" *ngIf="!(user | async)?.uid">
  <li><a [routerLink]="['/user/login']"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
  <li><a [routerLink]="['/user/register']"><span class="glyphicon glyphicon-user"></span>Register</a></li>
</ul>
<ul class="navbar navbar-nav navbar-right" *ngIf="(user | async)?.uid">
  <p class="navbar-text">Hi {{(user | async)?.email}}</p>
  <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
</ul>