<div class="row" *ngIf="type==='short'">
    <div class=" form-group col-sm-8">
        <strong>Name</strong>
    </div>
    <div class=" form-group col-sm-3">
        <strong>User uid</strong>
    </div>
    <div class=" form-group col-sm-1">
        <strong>Include</strong>
    </div>
</div>
<div class="row" *ngIf="!students || !students.length">
    <div class="form-group">
        Nothing to show...
    </div>
</div>
<div class="row" *ngFor="let student of students">
    <dschool-short-list-row class="form-group" *ngIf="type==='short'" [student]="student"></dschool-short-list-row>
</div>