<!-- <h3>{{message.title}}</h3>
<p>{{message.author}}</p>
<p>{{message.date}}</p>
<p>{{message.content}}</p> -->

<!-- <div contenteditable="true" id="txt-area"></div> -->
<form class="d-inline-block">
    <div class="form-group">
        <label for="exampleInputEmail1">Send to:</label>
        <input type="text" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Subject:</label>
        <input type="text" class="form-control" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="txt-msg">Message:</label>
        <textarea class="form-control" rows="4" id="txt-msg"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>