<nav class="nav navbar-inverse navbar-fixed-top">
    <div class="container container-fluid>">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/home']">{{schoolName}}</a>
        </div>
        <ul class="nav navbar-nav" *ngIf="userService.currentUser.role===admin">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Classes
                        <span class="caret"></span></a>
                <ul class="dropdown-menu navbar-inverse">
                    <li><a [routerLink]="['/admin/class/create']">CREATE</a></li>
                    <li><a [routerLink]="['/admin/class/edit']">EDIT</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav" *ngIf="userService.currentUser.role===admin">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses
                            <span class="caret"></span></a>
                <ul class="dropdown-menu navbar-inverse">
                    <li><a [routerLink]="['/admin/course/create']">CREATE</a></li>
                    <li><a [routerLink]="['/admin/course/edit']">EDIT</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav" *ngIf="userService.currentUser.role===admin">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Teachers
                            <span class="caret"></span></a>
                <ul class="dropdown-menu navbar-inverse">
                    <li><a [routerLink]="['/admin/teacher/edit']">EDIT</a></li>
                </ul>
            </li>
            <li>
                <a [routerLink]="['/home', 'addnews']">Create News Article</a>
            </li>
        </ul>
        <dschool-usermenu class="navbar navbar-nav navbar-right"></dschool-usermenu>
    </div>
</nav>
<div class="container-fluid">
    <toaster-container></toaster-container>
</div>